@model CrudContainer.Models.ContainerCategoryViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Containers" asp-action="Index" method="GET">
    <p>
        <select asp-for="ContainerCategory" asp-items="Model.Categories">
            <option value="">All</option>
        </select>

        Container Number: <input type="text" name="searchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Containers[0].Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Containers[0].Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Containers[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Containers[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Containers[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Containers) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
